#!/usr/bin/env python3
import os
import argparse
from time import sleep
from mininet.net import Containernet
from mininet.node import Controller, OVSSwitch
from mininet.cli import CLI
from mininet.log import setLogLevel, info

def create_nodes(net):
    nodes_dict = {}

    info('*** Adding Network Nodes (Switches and Docker Containers)\n')
    
    {% for node in nodes %}
    {% if node.type == 'switch' %}
    nodes_dict['{{ node.name }}'] = net.addSwitch('{{ node.name }}', cls=OVSSwitch)
    {% elif node.type == 'docker' %}
    nodes_dict['{{ node.name }}'] = net.addDocker('{{ node.name }}', dimage='inetrm-{{ node.dimage }}', ip='{{ node.ip }}', network_mode='none', volumes=["/tmp:/tmp"])
    {% elif node.type == 'bmv2' %}
    nodes_dict['{{ node.name }}'] = net.addDocker('{{ node.name }}', dimage='inetrm-bmv2', network_mode='none', volumes=["/tmp:/tmp"])
    {% endif %}
    {% endfor %}

    return nodes_dict

def create_links(net, nodes_dict):
    info('*** Linking topology\n')
    {% for link in links %}
    net.addLink(nodes_dict['{{ link[0] }}'], nodes_dict['{{ link[1] }}'])
    {% endfor %}

def post_init(nodes_dict):
    info('*** Compiling P4 and starting simple_switch in BMv2 nodes\n')
    
    {% for node in nodes %}
    {% if node.type == 'bmv2' %}
    bmv2_node = nodes_dict['{{ node.name }}']
    
    p4_source = "/tmp/compile/{{ node.source }}.p4"
    json_output = "{{ node.source }}.json"
    
    info('--> Compiling P4 for {{ node.name }}...\n')
    bmv2_node.cmd(f'p4c --target bmv2 --arch v1model {p4_source}')
    
    interfaces = [intf for intf in bmv2_node.intfNames() if intf != 'lo']
    
    if_args = " ".join([f"-i {idx}@{intf}" for idx, intf in enumerate(interfaces)])
    
    info('--> Starting simple_switch for {{ node.name }}...\n')
    bmv2_node.cmd(f'simple_switch {if_args} {json_output} &')
    
    {% endif %}
    {% endfor %}
    return

def parse_arguments():
    parser = argparse.ArgumentParser(description="Containernet Topology")
    parser.add_argument('--time', type=int, default=60, help="Duration of monitoring")
    return parser.parse_args()

def main():
    args = parse_arguments()
    duration = args.time

    net = Containernet(controller=Controller)

    info('*** Adding Controller\n')
    net.addController('c0')

    nodes_dict = create_nodes(net)
    
    create_links(net, nodes_dict)

    info('*** Starting the network\n')
    net.start()    

    post_init(nodes_dict)

    info('*** Starting Mininet CLI\n')
    CLI(net)

    info('*** Stopping the network\n')
    net.stop()

if __name__ == '__main__':
    setLogLevel('info')
    main()
